/* ============================= */
/* BASE */
/* ============================= */
body {
  margin: 0 auto;
  padding-top: 250px; /*à adapter en hauteur pour maintenir la 1ère section juste en dessous de la navbar*/
  background-color: #fafafa;
  color: #3b3b3b;
  font-family: "Montserrat", sans-serif;
  max-width: 1200px;
}

/* ============================= */
/* HEADER */
/* ============================= */

.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1200px;
  background-color: #fafafa;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* empile logo au dessus navbar */
  align-items: center;
}

.header-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px; /* espace entre logo et texte */
  margin-top: 10px;
}

.logo {
  text-align: center;
  padding: 0;
}
.logo img {
  max-height: 200px;
  width: 100%;
  height: auto; /* garde les proportions */
}

.header-letter {
  text-align: center;
  padding: 0px;
  max-width: 900px;
  font-weight: 400;
  font-size: 26px;
}

.p-header-letter {
  font-weight: 400;
  font-size: 20px;
}

.header-name {
  font-weight: 600;
}

/* ============================= */
/* NAV */
/* ============================= */

nav {
  background-color: #c2e0e2;
  width: 100%;
  z-index: 1000;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "Merriweather Sans", sans-serif;
}

nav ul li {
  display: inline;
  margin: 0 20px;
}

nav ul li a {
  color: #3b3b3b;
  text-decoration: none;
  font-size: 15px;
  transition: color 0.3s;
}

nav ul li a:hover {
  background-color: #fafafa;
  color: #3b3b3b;
  border-radius: 15px;
  padding: 2px;
}

/* ============================= */
/* SECTIONS */
/* ============================= */

section {
  max-width: 1200px;
  padding: 20px 20px;
  background-color: #ffffff;
  box-sizing: border-box;
  scroll-margin-top: 250px; /*à adapter en hauteur pour maintenir la 1ère section juste en dessous de la navbar*/
}

section:nth-child(odd) {
  background-color: #f2f2f2;
}

section h2 {
  margin-bottom: 1rem; /* espace sous le titre */
}

.section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap; /* pour responsivité */
}

.section-content .text {
  flex: 1 1 50%;
}

.section-content .image {
  flex: 1 1 40%;
  text-align: center;
}

.section-content .image img {
  max-width: 50%;
  height: auto;
  border-radius: 8px;
}
.section-content .image img.img-small {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
h1,
h2 {
  font-size: 20px;
  text-align: center;
  color: #3b3b3b;
}

/* ============================= */
/* TEXTE */
/* ============================= */

p {
  text-align: justify;
  font-size: 16px;
  color: #3b3b3b;
  max-width: 800px;
  margin: 20px auto;
}

a {
  outline: none;
}

a:focus {
  color: #3b3b3b;
  font-weight: bold;
}

.burger {
  display: none;
}
.italic-letter {
  font-style: italic;
  font-size: 26px;
  font-family: "Merriweather Sans", sans-serif;
}

.bold-letter {
  font-weight: bold;
}

/* ============================= */
/* LOGOS ET IMAGES */
/* ============================= */

.mirror-image {
  transform: scaleX(-1);
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.doctolib-logo {
  height: 35px;
  width: auto;
}

.doctolib-logo:hover {
  height: 40px;
  width: auto;
}

.text-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap; /* reste responsive */
}

.text-image-wrapper .text {
  flex: 1 1 55%; /* prend un peu plus de place que l'image */
}

.text-image-wrapper .image {
  flex: 1 1 40%; /* ajuste largeur image */
  text-align: center;
}

.text-image-wrapper .image img {
  max-width: 100%;
  height: auto;
}

.instagram-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.instagram-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

ion-icon {
  padding: 0.5rem;
  color: #3b3b3b;
  font-size: 35px;
  cursor: pointer;
  background-color: #c2e0e2;
  border-radius: 50%;
}
ion-icon:hover {
  font-size: 38px;
}
/* ============================= */
/* FAQ */
/* ============================= */
.faq-answer {
  display: none; /* caché par défaut */
  margin-top: 5px;
  color: #3b3b3b;
  font-size: 13px;
  font-style: italic;
}

.faq-question {
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  font-weight: inherit;
  margin: 10px 0;
  line-height: inherit;
  display: block;
}

.faq-question:hover {
  font-weight: 600;
}
/* ============================= */
/* FOOTER */
/* ============================= */
.footer-txt {
  text-align: center;
  font-size: 12px;
}
footer address {
  font-style: normal; /* retire l’italique */
  text-align: center; /* si tu veux centrer */
  margin-bottom: 20px;
  font-size: 12px;
}
/* ============================= */
/* CSS OTHER PAGE*/
/* ============================= */
.body-other-page {
  margin: 0 auto; /* Centre le body */
  padding: 10px;
  padding-top: 20px;
  background-color: #fafafa;
  color: #3b3b3b;
  font-family: "Montserrat", sans-serif;
  max-width: 1200px;
}

.nav-other-page {
  padding: 15px 0;
  max-width: 1200px;
}
.nav-other-page-text {
  color: #3b3b3b;
  background-color: #fafafa;
  text-decoration: none;
  font-size: 15px;
  transition: color 0.3s;
  margin: 10px;
  border-radius: 15px;
  padding: 3px;
}
.nav-other-page-text:hover {
  padding: 2px;
  border-radius: 0px;
}
.mentions-legales-text,
.politique-confidentialite-text {
  max-width: 1200px;
  margin: 0 auto; /* Centre le conteneur */
  padding: 20px 10px;
}

.mentions-legales-text h1,
.politique-confidentialite-text h1 {
  font-style: italic;
}
.mentions-legales-text h1,
.politique-confidentialite-text h1,
.mentions-legales-text h2,
.politique-confidentialite-text h2 {
  text-align: left;
  font-size: 16px;
  max-width: 100%;
}

.mentions-legales-text h3,
.politique-confidentialite-text h3 {
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  max-width: 100%;
}

.mentions-legales-text p,
.politique-confidentialite-text p {
  line-height: 1.5;
  margin: 0;
  text-align: justify;
  max-width: 100%;
  font-size: 14px;
}
/* ============================= */
/* MEDIA QUERY */
/* ============================= */

@media (max-width: 768px) {
  body {
    padding-top: 140px;
  }
  .fixed-header .logo img {
    max-height: 100px;
    width: auto;
  }

  .header-top {
    gap: 10px; /* réduit l'espace entre logo et texte sur mobile */
    flex-direction: row; /* optionnel : si tu veux que le texte passe sous le logo */
    align-items: center;
    margin-top: 5px;
  }
  .header-letter {
    font-size: 14px; /* Réduit la taille du texte */
  }

  .p-header-letter {
    font-size: 13px; /* Réduit la taille du texte */
  }
  .section-content {
    flex-direction: column;
    text-align: center;
  }

  .section-content .text,
  .section-content .image {
    flex: 1 1 100%;
  }

  .section-content .image img {
    width: 120px;
    height: auto;
    margin: 0 auto;
  }

  nav {
    padding: 1px 0; /* Réduit la hauteur totale de la barre */
  }
  nav ul li {
    display: block;
    margin: 3px 0;
  }
  nav ul li a {
    font-size: 13px;
  }
  nav ul {
    display: none;
    padding: 0;
  }
  nav ul.active {
    display: block;
  }
  .burger {
    display: block;
    font-size: 30px;
    cursor: pointer;
    padding: 1.5px 15px;
    color: #4a4a4a;
    user-select: none;
  }
  section {
    scroll-margin-top: 140px;
  }

  h1,
  h2 {
    font-size: 16px;
  }

  p,
  .faq-question {
    font-size: 14px;
  }

  .italic-letter,
  .header-letter,
  .header-name,
  .p-header-letter {
    font-size: 16px;
  }

  .icon-container {
    flex-direction: row; /* reste en ligne */
    flex-wrap: wrap; /* passe à la ligne si besoin */
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }

  ion-icon {
    font-size: 28px;
    padding: 0.4rem;
  }
  .doctolib-logo {
    height: 28px;
    width: auto;
  }
}

@media (max-width: 1024px) and (max-height: 600px) and (orientation: landscape) {
  body {
    padding-top: 90px;
  }
  .fixed-header {
    padding-bottom: 0;
  }

  .fixed-header .logo {
    display: none;
  }
  .header-top {
    gap: 0;
    margin-top: 25px; /* Supprime complètement la marge top */
    margin-bottom: 20px; /* Supprime la marge bottom */
  }

  .header-letter {
    font-size: 13px; /* Réduit encore plus la taille */
    padding: 0; /* Supprime le padding */
    margin: 0 0 10px 0; /* Très petit espace en bas */
    line-height: 1; /* Interligne minimal */
  }

  .p-header-letter {
    font-size: 13px;
    margin: 0; /* Supprime les marges */
    line-height: 1; /* Interligne minimal */
  }

  nav {
    padding: 3px 0; /* Réduit la hauteur de la nav */
  }
  section {
    scroll-margin-top: 80px;
  }

  h1,
  h2 {
    font-size: 16px;
  }

  p,
  .faq-question {
    font-size: 14px;
  }
}
